@font-face {
    font-family: 'stout';
    src: url('Stout.otf'),
         url('stout-webfont.woff2') format('woff2'),
         url('stout-webfont.woff') format('woff');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kust';
    src: url('kust.otf'),
         url('kust.woff') format('woff'),
         url('kust.ttf') format('ttf');

    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'edo';
  src: url('edo-webfont.ttf') format('truetype'),
       url('edo-webfont.woff2') format('woff2'),
       url('edo-webfont.woff') format('woff');

  font-weight: normal;
  font-style: normal;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body{
  height:100%;
   width: 100%;
   padding: 0;
   margin: 0;
}

.container-fluid{
  padding: 0;
}

body{
  background-color: #FFFFFF;

}

section{
  padding: 5em 0;
  height: 100%;
}

a, a:visited{
  color: black;
  text-decoration: none;
}

.header{
  background-color: #000000;
  top:0;
  left:0;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

#menuIcon{
  color: #fdd900;
  font-size: 1.5em;
  position: fixed;
  top: .25em;
  left: .25em;
  z-index: 2;
}


#navi a{
  font-family: stout;
  font-size: 2em;
  color: #ffffff;
}


#naviCloseBtn{
  color: #fdd900;
  position: absolute;
  top: 0em;
  right: .5em;
}

#navi{
  position: fixed;
  width: 0;
  height: 100%;
  overflow-x: hidden;
  z-index: 2;
  background-color: black;
  top:0;
  left:0;
  transition: 0.5s;
  padding-top: 3em;
}

#muteYouTubeVideoPlayer{
  display: none;
}

#home{
  overflow: hidden;
}

#imgContainer{
  padding: 0em;
  position:relative;
  top:-5em;
  left: -5em;
  width: 140%;
}

.cominSoon{
margin: auto;
font-family: stout;
color: #000000;
text-align: center;
}

.cominSoon p{
  font-size: 2.5em;
  margin: 0em;
}

#cominSoon{
  position: relative;
  top:-8em;
  padding: 0;
}

.flash {
    animation-name: flash;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes flash {
    from {opacity:0;}
    to {opacity:1;}
}

#applIcon{
  position: relative;
  top:-5px;
  left:5px;
}

#applImg{
  width:140px;
  height:56px;
  display:inline-block;
  overflow:hidden;
}

#sptfyIcon{
  position:relative;
  top:0px;
  left:5px;
}

#sptfyIcon img{
 width:126px;
 height:37.8px;
 scrolling:"no";
 frameborder:"0"
 display:inline-block;
 border:none;
 overflow:hidden;
 allowtransparency:"true";
}

#about{
  padding:1.5em 15px;
  background-color: black;
  font-family: stout;
  color: white;
  font-size: 1.65em;
}

#aboutTitle{
  position: relative;
  top:-.25em;
  left:.30em;
  text-align: center;
  margin: 10px 0;
}

#about p{
  margin:auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

#DW{
  font-family: kust;
  font-size: 1.25em;
}

#amp{
  font-family: edo;
}

#music{
padding-top: 1.5em;
padding-bottom: 1.5em;
font-family: stout;
}

#musicTitle{
  width: 50%;
  position: relative;
  top:-.25em;
  left:25%;
  margin:10px 0;
  text-align: center;
}

#spotify{
padding: 0;
margin: 0 auto;
}

#video{
background-color: black;
padding-top: 1.5em;
padding-bottom: 1.5em;
}

#videoTitle{
width: 50%;
position: relative;
left:25%;
margin: 10px 0;
}

.footer{
  position: relative;
  left: 0;
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
}

.socialMediaLinks{
  text-align: center;
}

.socialMediaLinks li{
  display: inline;
}

.socialMediaLinks a{
  color: #000000;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
  section{
    padding:1.5em 0;
    height: auto;
  }

  #music, #about, #video{
    position: relative;
    height: 1000px;

  }

.header{
  position: fixed;
  z-index: 1;
}

      #menuIcon {
      display: none;
      }

      #navi{
          position: absolute;
          width: 50%;
          height: auto;
          overflow-x: hidden;
          z-index: 0;
          background: none;
          top:-3.5em;
          left:65%;
          transition: 0.5s;
          padding-top: 3em;
      }

      #navi li{
        display: inline-block;
        font-size: 1em;
        padding: .5em;
      }

      #naviCloseBtn{
        display: none;
      }

      #imgContainer{
        position: relative;
        top: -2.5em;
        left: -6em;
        width: 65%;
      }

      #flashContainer{
      display: none;
      }

      #applIcon{
        top: -19em;
        left:28em;
      }

      #sptfyIcon{
        top:-18.5em;
        left:5em;
      }

      #about{
        display: block;
      }

      #aboutTitle{
        position: relative;
        left: 26.5%;
      }

      #aboutPhoto{
        position: relative;
        left:-25%;
        top: 5em;
      }

      #about p{
        position: relative;
        top:5em;
        left:25%;
      }


      #music .soundcloud{
        position: relative;
        top:-5.75em;
      }

      #musicTitle{
        position: relative;
        width: 20%;
        left: 40%;
      }

      #videoTitle{
        position: relative;
        width: 20%;
        left: 40%;
      }



}

@media (min-width: 992px) {
  section{
    padding:1.5em 0;
    height: auto;
  }

  #music, #about, #video{
    position: relative;
    height: 1000px;

  }

.header{
  position: fixed;
  z-index: 1;
}

      #menuIcon {
      display: none;
      }

      #navi{
          position: absolute;
          width: 50%;
          height: auto;
          overflow-x: hidden;
          z-index: 0;
          background: none;
          top:-3.5em;
          left:65%;
          transition: 0.5s;
          padding-top: 3em;
      }

      #navi li{
        display: inline-block;
        font-size: 1.5em;
        padding: .5em;
      }

      #naviCloseBtn{
        display: none;
      }

      #imgContainer{
        position: relative;
        top: -2.5em;
        left: -6em;
        width: 65%;
      }

      #flashContainer{
      display: none;
      }

      #applIcon{
        top: -19em;
        left:28em;
      }

      #sptfyIcon{
        top:-18.5em;
        left:5em;
      }

      #about{
        display: block;
      }

      #aboutTitle{
        position: relative;
        left: 26.5%;
      }

      #aboutPhoto{
        position: relative;
        left:-25%;
        top: 5em;
      }

      #about p{
        position: relative;
        top:5em;
        left:25%;
      }


      #music .soundcloud{
        position: relative;
        top:-5.75em;
      }

      #musicTitle{
        position: relative;
        width: 20%;
        left: 40%;
      }

      #videoTitle{
        position: relative;
        width: 20%;
        left: 40%;
      }


}


@media screen and (min-width: 1200px) {

  section{
    padding:1.5em 0;
    height: auto;
  }

  #music, #about, #video{
    position: relative;
    height: 1000px;

  }

.header{
  position: fixed;
  z-index: 1;
}

      #menuIcon {
      display: none;
      }

      #navi{
          position: absolute;
          width: 50%;
          height: auto;
          overflow-x: hidden;
          z-index: 0;
          background: none;
          top:-2.5em;
          left:70%;
          transition: 0.5s;
          padding-top: 3em;
      }

      #navi li{
        display: inline-block;
        font-size: 1.5em;
        padding: .5em;
      }

      #naviCloseBtn{
        display: none;
      }

      #imgContainer{
        position: relative;
        top: -2.5em;
        left: -6em;
        width: 65%;
      }

      #flashContainer{
      display: none;
      }

      #applIcon{
        top: -25em;
        left:35em;
      }

      #sptfyIcon{

        top:-24.5em;
        left:5em;

      }


      /*#muteYouTubeVideoPlayer{
        position:relative;
        top: 3.6em;
        display: block;
        z-index: -99;

      }*/

      #about{
        display: block;
      }

      #aboutTitle{
        position: relative;
        left: 26.5%;
      }

      #aboutPhoto{
        position: relative;
        left:-25%;
        top: 5em;
      }

      #about p{
        position: relative;
        top:5em;
        left:25%;
      }


      #music .soundcloud{
        position: relative;
        top:-5.75em;
      }

      #musicTitle{
        position: relative;
        width: 20%;
        left: 40%;
      }

      #videoTitle{
        position: relative;
        width: 20%;
        left: 40%;
      }



    }
