@font-face {
    font-family: 'stout';
    src: url('Stout.otf'),
         url('stout-webfont.woff2') format('woff2'),
         url('stout-webfont.woff') format('woff');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kust';
    src: url('kust.otf'),
         url('kust.woff') format('woff'),
         url('kust.ttf') format('ttf');

    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'edo';
  src: url('edo-webfont.ttf') format('truetype'),
       url('edo-webfont.woff2') format('woff2'),
       url('edo-webfont.woff') format('woff');

  font-weight: normal;
  font-style: normal;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body{
  height:100%;
   width: 100%;
   padding: 0;
   margin: 0;
}

.container-fluid{
  padding: 0;
}

body{
  background-color: #FFFFFF;

}

section{
  padding: 5em 0;
  height: 100%;
}

a, a:visited{
  color: black;
  text-decoration: none;
}

.header{
  background-color: #000000;
  top:0;
  left:0;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

#menuIcon{
  color: #fdd900;
  font-size: 1.5em;
  position: fixed;
  top: .25em;
  left: .25em;
  z-index: 2;
}


#navi a{
  font-family: stout;
  font-size: 2em;
  color: #ffffff;
}


#naviCloseBtn{
  color: #fdd900;
  position: absolute;
  top: 0em;
  right: .5em;
}

#navi{
  position: fixed;
  width: 0;
  height: 100%;
  overflow-x: hidden;
  z-index: 2;
  background-color: black;
  top:0;
  left:0;
  transition: 0.5s;
  padding-top: 3em;
}

#imgContainer{
  padding: 0em;
  position:relative;
}

.cominSoon{
margin: auto;
font-family: stout;
color: #000000;
text-align: center;
}

.cominSoon p{
  font-size: 2.5em;
  margin: 0em;
}

#cominSoon{
  position: relative;
  top:-1.5em;
  padding: 0;
}

.flash {
    animation-name: flash;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes flash {
    from {opacity:0;}
    to {opacity:1;}
}

#applIcon{
  position: relative;
  top:-5px;
  left:5px;
}

#applImg{
  width:140px;
  height:56px;
  display:inline-block;
  overflow:hidden;
}

#sptfyIcon{
  position:relative;
  top:0px;
  left:5px;
}

#sptfyIcon img{
 width:126px;
 height:37.8px;
 scrolling:"no";
 frameborder:"0"
 display:inline-block;
 border:none;
 overflow:hidden;
 allowtransparency:"true";
}

#about{
  padding:1.5em 15px;
  background-color: black;
  font-family: stout;
  color: white;
  font-size: 1.65em;
}

#aboutTitle{
  position: relative;
  top:-.25em;
  left:.30em;
  text-align: center;
  margin: 10px 0;
}

#about p{
  margin:auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

#DW{
  font-family: kust;
  font-size: 1.25em;
}

#amp{
  font-family: edo;
}

#music{
padding-top: 1.5em;
padding-bottom: 1.5em;
font-family: stout;
}

#musicTitle{
  width: 50%;
  position: relative;
  top:-.25em;
  left:25%;
  margin:10px 0;
  text-align: center;
}

#spotify{
padding: 0;
margin: 0 auto;
}

#video{
background-color: black;
padding-top: 1.5em;
padding-bottom: 1.5em;
}

#videoTitle{
width: 50%;
position: relative;
left:25%;
margin: 10px 0;
}

.footer{
  position: relative;
  left: 0;
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
}

.socialMediaLinks{
  text-align: center;
}

.socialMediaLinks li{
  display: inline;
}

.socialMediaLinks a{
  color: #000000;
}

@media screen and (min-width: 768px) {
      #menuIcon {
      display: none;
      }

      .cominSoon p{
        font-size: 5.5em;
      }

      #applIcon {
        width: 285.6px;
        height: 114.24px;
      }

      #appleImg{
        width: 285.6px;
        height: 114.24px;
      }

    }
