@font-face {
font-family: stout;
src:url(/Users/kaldurahm/Desktop/SteppinStone/Stout.otf);
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body{
  height:100%;
}

body{
  background-color: #f15d53;

}

a, a:visited{
  color: black;
  text-decoration: none;
}

#menuIcon{
  color: #fdd900;
  position: fixed;
  top: .5em;
  left: .5em;
}

#navi a{
  font-family: stout;
  font-size: 2em;
  color: #fdd900;
}


#naviCloseBtn{
  position: absolute;
  top: 0em;
  right: .5em;
}

#navi{
  position: fixed;
  width: 0;
  height: 100%;
  overflow-x: hidden;
  z-index: 2;
  background-color: black;
  top:0;
  left:0;
  transition: 0.5s;
  padding-top: 3em;
}

#imgContainer{
  padding: 1em;
  position:relative;
  background-color: #fdd900;
}

#cominSoon{
margin: auto;
font-family: stout;
color: #fdd900;
text-align: center;
}

#cominSoon p{
  font-size: 2em;
  margin: 0.5em;
}




.footer{
  left: -15px;
  width: 112%;
  background-color: #fdd900;
}

.socialMediaLinks{
  text-align: center;
}

.socialMediaLinks li{
  display: inline;
}

.socialMediaLinks a{
  color: #f15d53;
}
