@font-face {
    font-family: 'stout';
    src: url('Stout.otf'),
         url('stout-webfont.woff2') format('woff2'),
         url('stout-webfont.woff') format('woff');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kust';
    src: url('kust.otf'),
         url('kust.woff') format('woff'),
         url('kust.ttf') format('ttf');

    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'edo';
  src: url('edo-webfont.ttf') format('truetype'),
       url('edo-webfont.woff2') format('woff2'),
       url('edo-webfont.woff') format('woff');

  font-weight: normal;
  font-style: normal;
}



*, *:before, *:after {
  box-sizing: border-box;
}

html, body{
  height:100%;
   width: 100%;
   padding: 0;
   margin: 0;
}

.container{
  padding: 0;
}

body{
  background-color: #FFFFFF;

}

a, a:visited{
  color: black;
  text-decoration: none;
}

.header{
  background-color: #000000;
  top:0;
  left:0;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

/*.logo{
  top: 0;
  left: 0;
  width: 100%;
  margin: auto;
  text-align: center;
  position: fixed;
  font-family: stout;
  font-size: 5.5em;
  color: #ffffff;
  z-index:0;
}*/

#menuIcon{
  color: #ffffff;
  position: fixed;
  top: .5em;
  left: .5em;
}

#navi a{
  font-family: stout;
  font-size: 2em;
  color: #ffffff;
}


#naviCloseBtn{
  position: absolute;
  top: 0em;
  right: .5em;
}

#navi{
  position: fixed;
  width: 0;
  height: 100%;
  overflow-x: hidden;
  z-index: 2;
  background-color: black;
  top:0;
  left:0;
  transition: 0.5s;
  padding-top: 3em;
}

#imgContainer{
  padding: 1em;
  position:relative;


}

#cominSoon{
margin: auto;
font-family: stout;
color: #000000;
text-align: center;
}

#cominSoon p{
  font-size: 3.25em;
  margin: 0.5em;
}

#dnw{
  font-family: kust;

}

#amp{
  font-family: edo;
}

.flash {
   animation-name: flash;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes flash {
    from {opacity:0;}
    to {opacity:1;}
}




.footer{
  position: relative;
  left: 0;
  width: 100%;
  margin: 0 auto;
  background-color: #000000;
}

.socialMediaLinks{
  text-align: center;
}

.socialMediaLinks li{
  display: inline;
}

.socialMediaLinks a{
  color: #ffffff;
}
